* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

main {
    background: url(bg.png) center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    color: white;
}

.game_screen {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
}

.box {
    height: 100px;
    width: 100px;
}

.box0,
.box1,
.box2,
.box3,
.box4,
.box5 {
    border-bottom: 2px solid white;
}

.box1,
.box4,
.box7 {
    border-right: 2px solid white;
    border-left: 2px solid white;
}



.upper {
    margin-bottom: 4rem;
    margin-top: -8rem;
    color: white;
    font-size: 2rem;
    height: 10px;
}

.popUp {
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    font-size: 1.3rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.8rem 1.5rem;
    transition: all 0.2s ease;
    border-radius: 1.1rem;
}

.display {
    position: absolute;
    transform: translateY(20px);
}

.lower {
    position: absolute;
    bottom: 6rem;
}

.restartBtn {
    display: none;
    border: 3px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.3rem;
    padding: 0.8rem 1.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (max-width:400px) {
    #turn {
        font-size: 1.3rem;
    }
    .restartBtn{
        font-size: 1.3rem;
    }
    

}